<% if user_signed_in? %>

<div class="aboutthemiddle">

<br/><br/><br/><br/>
<%= image_tag("/images/signature.png", :alt => "Classified Spectacular") %>


<h5 class="contact">Classified Spectacular is an invitation-only film library.
<br/><br/>
Invitation requests may be sent to <a href="mailto:invitations@classifiedspectacular.com?Subject=Invitation%20Request" target="_top">invitations@classifiedspectacular.com.</a> (Beta Users: Not Yet Active)
<br/><br/>
All other correspondence may be addressed to <a href="mailto:justin@classifiedspectacular.com?Subject=Classified Spectacular" target="_top">justin@classifiedspectacular.com</a> (Beta Users: Not Yet Active)
</h5>

</div>


<%else %>		

<div class="container">
<div class="getinthemiddle">
            <%= link_to image_tag('/images/cslogo2.png', :alt => "Classified Spectacular"), root_path %>
            <br/>
            <%= link_to "I Have A Log In", new_user_session_path, class: "btn btn-success btn-lg" %>&nbsp&nbsp&nbsp
            <%= link_to "I Need A Log In", new_user_registration_path, class: "btn btn-danger btn-lg" %>
            
</div> 
</div>
      
 <% end %>	