<% if user_signed_in? %>

<div class="getinthemiddle">

<%= link_to image_tag('/images/breakoutpremiere.png', :alt => "Premieres 2.15.16"), root_path %>

<br/><br/>

<p>Things get complicated for a Free Agent.
	<br/><br/>
	Written and Directed by Justin Lamb
	<br/><br/>
	Featuring Dylan Donahue
</p>

</div>

<%else %> 


<div class="container">

	<div class="getinthemiddle">
	<%= link_to image_tag('/images/cslogo2.png', :alt => "Classified Spectacular"), root_path %>
	<br/>
	<%= link_to "I Have A Log In", new_user_session_path, class: "btn btn-success btn-lg" %>&nbsp&nbsp
	<%= mail_to "justindlamb@gmail.com", "I Need A Log In", subject: "Classified Spectacular Invite Request", class: "btn btn-danger btn-lg" %>    
	</div> 

</div>
      
 <% end %>	