<% if user_signed_in? %>


<footer class="footer">
      <div class="container">
          <p class="text-muted">
          <%= link_to "Library", root_path %>&nbsp&nbsp&nbsp
          <%= link_to "About", about_path %>&nbsp&nbsp&nbsp
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>&nbsp&nbsp&nbsp
          </p>
      </div>  
</footer>

<%else %>   


<% end %>